
<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <%= stylesheet_link_tag 'style' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <%= render "/shared/navbarloggedin" %>

    <div class="jumbotron other-color">
      <h1 class="text-center" style="color: #fff;">Categories</h1>
      <div class="container" style="margin-top: 48px;">
        <div class="row">
          <div class="col-sm-4">
            <!--First category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag '8-bit Movies.png', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #fff;">
                  <h4 class="lead" style="margin-top: 80px;">Movies</h4>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <!--Second category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag 'bulb.jpg', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #fff;">
                  <h4 class="lead" style="margin-top: 80px;">Movies</h4>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <!--Third category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag 'bulb.jpg', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #fff;">
                  <h4 class="lead" style="margin-top: 80px;">Movies</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 100px;">
          <div class="col-sm-4">
            <!--Fourth category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag 'bulb.jpg', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #fff;">
                  <h4 class="lead" style="margin-top: 80px;">Movies</h4>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <!--Fifth category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag 'bulb.jpg', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #fff;">
                  <h4 class="lead" style="margin-top: 80px;">Movies</h4>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <!--Sixth category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag 'bulb.jpg', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #fff;">
                  <h4 class="lead" style="margin-top: 80px;">Movies</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>