  <div class="headerlist">
<ul id="menu">
<li> Logo</li>

 <li><img src="http://www.capgemini.com/sites/default/files/styles/cap_image_165x112/public/ideas_icon_blue_4.png?itok=ymV_q58q" width="41" height="40" style=" left: 105px; width: 35px; height: 32px;"/></li>
 <li><%= link_to "friend requests" , friendships_path %></li>
 <li> <%= link_to "My Profile" , user_path(current_user.id) %> </li>
 <li><%= link_to "Log out", logout_path, method: :delete %></li>


</ul>  
</div>
<h1>Listing forums</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Privacy</th>

  </tr>
 
  <% @forums.each do |forum| %>
    <tr>
      <td><%= link_to "#{forum.title}", forum_path(forum) %></td>
      <td><%= forum.description %></td>
      <% if forum.privacy == "1" %>
      <td>Public</td>
      <% elsif forum.privacy == "2" %>
      <td>Private</td>
      <% end %>
      <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
      <td><%= link_to 'Delete', forum_path(forum), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>