
<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <%= stylesheet_link_tag 'style' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-fixed-top white">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= user_path(current_user.id) %>">iDea</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><input class="form-control" type="text" placeholder="Looking for something?" style="margin-top: 9px; width: 250px;"></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
                <li><a href="#">Notifications</a></li>
                <li class="dropdown">
                <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <% if @current_user.uid == nil %>
                  <%= @current_user.full_name %>
              <% else %>
                  <%= @current_user.name %>
              <% end %>
               <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= user_path(current_user.id) %>"><i class="fa fa-user"></i> Profile</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-cog"></i> Settings</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= help_path %>"><i class="fa fa-question"></i> Help</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= signout_path %>"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
                </li>
              </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron" style="height: 750px; background: #80A2C0";>
      <div align="middle" style="margin-top: 50px">
      <%= image_tag 'categoriesname.png', width: "350", height: "50" %>
      </div>
      <div class="container" style="margin-top: 48px;">
        <div class="row">
          <div class="col-sm-4">
            <!--First category-->
            <a href="www.google.com">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
             
              <div class="flipper">
                <div class="front">
                  
                  <%= image_tag '8-bitMovies.png', class: "img-circle", width: "215", height: "200" %>
                  
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #18163A;">
                  <a href="www.google.com">
                  <h2 class="lead" style="margin-top: 80px;" font="Minecraftia">Movies</h2>
                  </a>
                </div>
              </div>
              
            </div>
            </a>
          </div>
            <div class="col-sm-4">
            <!--Second category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag '8-bitMusic.png', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #532366;">
                  <h4 class="lead" style="margin-top: 80px;">Music</h4>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <!--Third category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag '8-bitPolitics.png', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #FDD425;">
                  <h4 class="lead" style="margin-top: 80px;">Politics</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 100px;">
          <div class="col-sm-4">
            <!--Fourth category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag '8-bitSport.png', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #781344;">
                  <h4 class="lead" style="margin-top: 80px;">Sports</h4>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <!--Fifth category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag '8-bitAcademics.png', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #2F8DC2;">
                  <h4 class="lead" style="margin-top: 80px;">Academics</h4>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <!--Sixth category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag '8-bitEntertainment.png', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #74B532;">
                  <h4 class="lead" style="margin-top: 80px;">Entertainment</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="jumbotron">
      <div class="container">
        </br></br></br>
        <div style="margin-left: 1000px;">
          <form action="<%= new_forum_path %>">
        <button class="btn btn-primary"%>Create forum</button>
      </form>
      </div>
          <div style="margin-left: 50px; margin-right: 50px;">
            <table class="table table-hover">
            <thead>
              <tr>
                <th>Forums</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% forums = Forum.all %>
              <% forums.each do |forum| %>
              <tr>
                <td><a href="<%= forum_path(forum) %>"><%= forum.title %></a></td>
                <td></td>
                <td></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </body>
</html>