
<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <%= stylesheet_link_tag 'style' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <%= render "/shared/navbarloggedin" %>

    <div class="jumbotron" style="height: 750px; background: #80A2C0";>
      <div align="middle" style="margin-top: 50px">
      <%= image_tag 'categoriesname.png', width: "350", height: "50" %>
      </div>
      <div class="container" style="margin-top: 48px;">
        <div class="row">
          <div class="col-sm-4">
            <!--First category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
             
              <div class="flipper">
                <div class="front">
                  <%= image_tag '8-bitMovies.png', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #18163A;">
                  <%= image_tag 'MoviesTitle.png', class: "img-circle", width: "215", height: "200" %>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <!--Second category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag '8-bitMusic.png', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #532366;">
                  <%= image_tag 'MusicTitle.png', class: "img-circle", width: "215", height: "200" %>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <!--Third category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag '8-bitPolitics.png', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #FDD425;">
                  <%= image_tag 'PoliticsTitle.png', class: "img-circle", width: "215", height: "200" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 100px;">
          <div class="col-sm-4">
            <!--Fourth category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag '8-bitSport.png', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #74B532;">
                  <%= image_tag 'SportsTitle.png', class: "img-circle", width: "215", height: "200" %>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <!--Fifth category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag 'Academics.png', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #2F8DC2;">
                  <%= image_tag 'AcademicsTitle.png', class: "img-circle", width: "215", height: "200" %>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <!--Sixth category-->
            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); " style="text-align: center;">
              <div class="flipper">
                <div class="front">
                  <%= image_tag '8-bitEntertainment.png', class: "img-circle", width: "215", height: "200" %>
                </div>
                <div class="back" style="border-radius: 100px; color: #96BADA; background-color: #781344;">
                  <%= image_tag 'GamingTitle.png', class: "img-circle", width: "215", height: "200" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="jumbotron">
      <div class="container">
        </br></br></br>
        <div style="margin-left: 1000px;">
          <form action="<%= new_forum_path %>">
        <button class="btn btn-primary"%>Create forum</button>
      </form>
      </div>
          <div style="margin-left: 50px; margin-right: 50px;">
            <table class="table table-hover">
            <thead>
              <tr>
                <th>Forums</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% forums = Forum.all %>
              <% forums.each do |forum| %>
              <tr>
                <td><a href="<%= forum_path(forum) %>"><%= forum.title %></a></td>
                <td></td>
                <td></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </body>
</html>