  <div class="headerlist">
<ul id="menu">
<li> Logo</li>

 <li><img src="http://www.capgemini.com/sites/default/files/styles/cap_image_165x112/public/ideas_icon_blue_4.png?itok=ymV_q58q" width="41" height="40" style=" left: 105px; width: 35px; height: 32px;"/></li>
 <li><%= link_to "friend requests" , friendships_path %></li>
 <li> <%= link_to "My Profile" , user_path(current_user.id) %> </li>
 <li><%= link_to "Log out", logout_path, method: :delete %></li>
 <li><%= link_to "notifications" ,user_notifications_path %> </li> 

</div>

<p>
  <strong>Title:</strong>
  <%= @forum.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @forum.description %>
</p>

<p>
  <strong>Privacy:</strong>
  <% if @forum.privacy == "1" %>
  Public
  <% elsif @forum.privacy == "2" %>
  Private
  <% end %>

  <!-- check if already joined or pending request -->

  <% if @forum.privacy == "1" %>
  <%= button_to('Join Forum', join_forum_path,
            method: "post",  data: { disable_with: 'Joining...' }) %>
  <% elsif @forum.privacy == "2" %>
  <%= button_to('Request joining forum', join_forum_path,
            method: "post",  data: { disable_with: 'Pending...' }) %>
  <% end %>
  
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

    <ul>
      <% Idea.where(forum_id: params[:id]).each do |idea| %>
      <li>
          <%= link_to idea.title , forum_idea_path(@forum.id, idea.id) %>
      </li>
      <%end%>

    </ul>
</tr></table>
<%= link_to 'Post an idea', new_forum_idea_path(@forum) %>
</p>

 
   



  

 