<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<%= stylesheet_link_tag 'style' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/bootstrap-select.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
	<%= render "/shared/navbarloggedin" %>
<div class="jumbotron forum-color" style="height: 730px;">
		<div class="container-fluid" style="margin-top: 80px;">
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4 white-font">
					<div class="forumImg">
						<%= image_tag 'bulb.jpg', class: "img-circle", width: "265", height: "250", style: "margin-bottom: 14px; border-style: solid; border-width: 1px; border-color: #DCDCDC;" %>
					</div>
					<h3 style="font-weight: 400; margin-bottom: 5px;">&ndash;&ndash;&ndash;&ndash;&ndash; <%= @forum.title %> &ndash;&ndash;&ndash;&ndash;&ndash;</h3>
					<p class="info">“<%= @forum.description %>”</p>
					<% if @forum.privacy == "1" %>
						<span class="text-muted" style="font-size: 13px;">Public • <%= @forum.category %></span><br>
					<% elsif @forum.privacy == "2" %>
						<span class="text-muted" style="font-size: 13px;">Private • <%= @forum.category %></span><br>
					<% end %>
					<% if @forum.privacy == "1" %>
						<button type="button" class="btn btn-success" data-joined-text="<i class='fa fa-check-circle'></i>&nbsp;&nbsp;Joined" id="join" style="margin-top: 18px;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Loading" autocomplete="off"><i class="fa fa-plus"></i>&nbsp;&nbsp;Join Forum</button>
					<% elsif @forum.privacy == "2" %>
						<button type="button" class="btn btn-success" data-joined-text="Request Sent" style="margin-top: 18px;" autocomplete="off"><i class="fa fa-plus"></i>&nbsp;&nbsp;Request to Join Forum</button>
					<% end %>
					<!-- <script>
						$(document).ready(function(){
    						$(".btn").click(function(){
    						    $(this).button('loading').delay(1000).queue(function(){
         					    	$(this).button('joined');
       	     						$(this).dequeue();
       							});
    						});
						});
					</script> -->
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
  		<div class="modal fade" id="comment" role="dialog">
    		<div class="modal-dialog">
    
      		<!-- Modal content-->
      			<div class="modal-content" style="margin: 170px auto; width: 450px;">
        			<div class="modal-header" style="height: 330px;">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<!-- <h4 class="modal-title">Modal Header</h4> -->
          				<h2 style="text-align: center; margin-bottom: 60px;">Post a comment</h2>
						<form role="form">
						 	<div class="form-group">
						    	<label for="postComment">Comment:</label>
						    	<textarea class="form-control" rows="5" id="postComment"></textarea>
						  	</div>
						  	<div class="form-group" style="float: right;">
						  		<button type="submit" class="btn btn-primary">Post</button>
						  		<input type="button" value="Cancel" class="btn btn-primary" data-dismiss="modal" />
						  	</div>
						</form>
        			</div>
      			</div>
    		</div>
  		</div>

	<div class="container">
		<% if @forum.privacy == "1" and !Membership.where(user_id: current_user.id , forum_id: @forum.id, accept: true).empty? %>
			<% i = 0 %>
			<% while i < @ideas.length %>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading" style="height: 40px;">
								<div style="float: right;">
									<a href="#"><i class="fa fa-arrow-up fa-rotate-90"></i></a>
								</div>
							</div>
							<div class="panel-content">
								<div class="container-fluid">
									<div class="col-md-4" style="margin-left: -15px; margin-top: 15px; margin-bottom: 2px;">
										<%= image_tag 'bulb.jpg', class: "img-circle", width: "155", height: "140", style: "margin-bottom: 14px; border-style: solid; border-width: 1px; border-color: #DCDCDC;" %>
									</div>
									<div class="col-md-8" style="margin-top: 10px; margin-left: 10px;">
										<h6 class="lead" style="font-size: 14px;">Mohamed Abd El-Azeem</h6>
										<p>This is an idea. This is a test for an idea. This is intended to be an example for an idea.</p>
										<hr class="rule" style="margin-left: -10px;">
										<div style="margin-bottom: 10px;">
											<a href="#"><i class="fa fa-twitter fa-lg"></i></a>
											&nbsp;
											<a href="#"><i class="fa fa-facebook fa-lg"></i></a>
											&nbsp;
											<a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
											<div style="float: right;">
												<a href="#"><i class="fa fa-heart"></i></a>
												&nbsp;
												<a href="<% "/forums/#{@forum.id}/ideas/3" %>" data-toggle="modal" data-target="#comment"><i class="fa fa-comment"></i></a>
												&nbsp;
												<a href="#"><i class="fa fa-flag"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
					<% if @ideas[++i] != nil %>
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading" style="height: 40px;">
									<div style="float: right;">
										<a href="#"><i class="fa fa-arrow-up fa-rotate-90"></i></a>
									</div>
								</div>
								<div class="panel-content">
									<div class="container-fluid">
										<div class="col-md-4" style="margin-left: -15px; margin-top: 15px; margin-bottom: 2px;">
											<%= image_tag 'bulb.jpg', class: "img-circle", width: "155", height: "140", style: "margin-bottom: 14px; border-style: solid; border-width: 1px; border-color: #DCDCDC;" %>
										</div>
										<div class="col-md-8" style="margin-top: 10px; margin-left: 10px;">
											<h6 class="lead" style="font-size: 14px;">Mohamed Abd El-Azeem</h6>
											<p>This is another idea. This is another test for an idea. This is intended to be another example for an idea.</p>
											<hr class="rule" style="margin-left: -10px;">
											<div style="margin-bottom: 10px;">
												<a href="#"><i class="fa fa-twitter fa-lg"></i></a>
												&nbsp;
												<a href="#"><i class="fa fa-facebook fa-lg"></i></a>
												&nbsp;
												<a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
												<div style="float: right;">
													<a href="#"><i class="fa fa-heart"></i></a>
													&nbsp;
													<a href="#" data-toggle="modal" data-target="#comment"><i class="fa fa-comment"></i></a>
													&nbsp;
													<a href="#"><i class="fa fa-flag"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</body>
</html>