  <div class="headerlist">
<ul id="menu">
<li> Logo</li>

 <li><img src="http://www.capgemini.com/sites/default/files/styles/cap_image_165x112/public/ideas_icon_blue_4.png?itok=ymV_q58q" width="41" height="40" style=" left: 105px; width: 35px; height: 32px;"/></li>
 <li><%= link_to "friend requests" , friendships_path %></li>
 <li> <%= link_to "My Profile" , user_path(current_user.id) %> </li>
 <li><%= link_to "Log out", logout_path, method: :delete %></li>
</div>
<html>
		<h2><%=Idea.find(params[:id]).title%></h2>

		<p>

		<h4>Forum: <%=Forum.find(params[:forum_id]).title%></h4>
		<forum>

				<%= Idea.find(params[:id]).text %>
		</p>
</html>