<% forum = Forum.find_by(id: params[:forum_id]) %>
<%= link_to 'back', forum_path(forum) %>
<%= form_for [@forum, @admin] do |f| %>
	<div class="field">
		<% if flash[:notice] %>
			<%= flash[:notice] %>
		<% end %>
		<% ary = [] %>
		<% users = User.all %>
		<% users.each do |u| %>
			<% if Admin.find_by(user_id: u.id, forum_id: params[:forum_id]) == nil %>
				<% ary.push(u) %>
			<% end %>
		<% end %>

	  	<%= f.label :user, "Add an admin by entering his email: " %><br>
	   	<%= f.collection_select(:user, ary, :email, :email) %><br>
	</div>

	<div class='actions'>
	   	<%= f.submit "Add admin" %>
	</div>
<% end %>
