<html>
	<div class="headerlist">
		<ul id="menu">
			<li> Logo</li>

	 		<li><img src="http://www.capgemini.com/sites/default/files/styles/cap_image_165x112/public/ideas_icon_blue_4.png?itok=ymV_q58q" width="41" height="40" style=" left: 105px; width: 35px; height: 32px;"/></li>
 			<li> <%= link_to "My Profile" , user_path(current_user.id) %> </li>
 			
 			<li><%= link_to "notifications" ,user_notifications_path %> </li> 
 			<li><%= link_to "friend requests" , friendships_path %></li>
 			<% if current_user != nil %>
 				<li>friend requests</li>
 				<li><%= link_to "Log out", logout_path, method: :delete %></li>
 				<% if !Admin.where(user_id: current_user.id).empty? %>
 					<li><%= link_to "requests to join my forums",:controller => "users" ,:action => :admin_join_forums_requests %> </li>
 				<% end %>
 			<% end %>


		</ul>  
	</div>
	<div style="position:absolute;top:100px;"><h4> Advanced Search: </h4>
		<%= form_tag("/search", method: "get") do %>
			<%= text_field_tag(:q) %>
			<%= label_tag(:type, "Search for a type:") %>
			<%= select_tag(:type, "<option>All</option><option>Users</option><option>Forums</option><option>Ideas</option>".html_safe) %>
			<br>
			<%= label_tag(:sortby, "Sort by:") %>
			<%= select_tag(:sortby, "<option></option><option>Newest</option><option>Oldest</option><option>Most Popular</option>".html_safe) %>
			<br>
			<h5> From: </h5>
			<%= label_tag(:fromyear, "year:") %>
			<%= text_field_tag(:fromyear) %>
			<%= label_tag(:frommonth, "month:") %>
			<%= select_tag(:frommonth, "<option></option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>".html_safe) %>
			<%= label_tag(:fromday, "day:") %>
			<%= text_field_tag(:fromday) %>
			<br>
			<h5> To: </h5>
			<%= label_tag(:toyear, "year:") %>
			<%= text_field_tag(:toyear) %>
			<%= label_tag(:tomonth, "month:") %>
			<%= select_tag(:tomonth, "<option></option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>".html_safe) %>
			<%= label_tag(:today, "day:") %>
			<%= text_field_tag(:today) %>
			<%= hidden_field_tag(:searchtype, "advanced") %>
			<%= submit_tag("Search") %>
		<% end %>