
<html>
	<div class="headerlist">
		<ul id="menu">
			<li> Logo</li>

	 		<li><img src="http://www.capgemini.com/sites/default/files/styles/cap_image_165x112/public/ideas_icon_blue_4.png?itok=ymV_q58q" width="41" height="40" style=" left: 105px; width: 35px; height: 32px;"/></li>
 			<li> <%= link_to "My Profile" , user_path(current_user.id) %> </li>
 			
 			<li><%= link_to "notifications" ,user_notifications_path %> </li> 
 			<li><%= link_to "friend requests" , friendships_path %></li>
 			<% if current_user != nil %>
 				<li>friend requests</li>
 				<li><%= link_to "Log out", logout_path, method: :delete %></li>
 				<% if !Admin.where(user_id: current_user.id).empty? %>
 					<li><%= link_to "requests to join my forums",:controller => "users" ,:action => :admin_join_forums_requests %> </li>
 				<% end %>
 			<% end %>


		</ul>  
	</div>
	<div style="position:absolute;top:100px;"><h4> Enter your search query: </h4>
		<%= form_tag("/search", method: "get") do %>
			<%= text_field_tag(:q) %>
			<%= label_tag(:type, "Search for:") %>
			<%= select_tag(:type, "<option>All</option><option>Users</option><option>Forums</option><option>Ideas</option>".html_safe) %>
			<%= submit_tag("Search") %>
		<% end %>
		
		<% if params[:q].to_s.length != 0 %>
			<% if @results != nil && @results.count != 0 %>
				<h2>Results:</h2>
				<ul>
				<% if User.any? { |e| @results.include? e } %>
					<h3>Users:</h3>
				<% end %>
				<% @results.each do |result| %>
					<% if User.all.include? result %>
						<li><%= link_to result.username, result %> <%= ' (fullname: ' + result.full_name + ')' %></li>
					<% end %>
				<% end %>
				<% if Forum.any? { |e| @results.include? e }  %>
					<h3>Forums:</h3>
				<% end %>
				<% @results.each do |result| %>
					<% if Forum.all.include? result %>
						<li><%= link_to result.title, result %> <%= ' (description: ' + result.description + ')' %></li>
					<% end %>
				<% end %>
				<% if Idea.any? { |e| @results.include? e } %>
					<h3>Ideas:</h3>
				<% end %>
				<% @results.each do |result| %>
					<% if Idea.all.include? result %>
						<% forum = Forum.find(result.forum_id) %>
						<li><%= link_to result.title, forum_idea_path(forum.id, result.id) %> <%= ' (description: ' + result.text + ')' + '(from forum:' + forum.title + ')' %></li>
					<% end %>
				<% end %>
				</ul>
				<%else%>
				<h2> No results found </h2>
			<% end %>
		<%end%>
	
	</div>
</html>