  <head>
	<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<%= stylesheet_link_tag 'style' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/bootstrap-select.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	</head>
<body>

	<%= render "/shared/navbarloggedin" %>
	<div class="jumbotron" style=" width:100%; margin: 100px 0 0 0; top:30%; text-align:center; background:#7A297A; height:500px;">
		<div style="color:#aaa;">
			<% seenNotifications = [] %>
		<% @notifications.reverse_each do |notification| %>
			<% if !notification.seen %>
			<p><i  class="glyphicon glyphicon-star"> </i><%= notification.info %> <%= link_to 'delete', ('notifications/' + notification.id.to_s), method: :delete %></p>
			<% notification.update(seen: true) %>
				<% seenNotifications += [notification] %>
			<%end%>
		<%end%>
		</div>
		<div >
			<% @notifications.reverse_each do |notification| %>
			<% if notification.seen and !seenNotifications.include? notification %>
				<p>
					<i  class="glyphicon glyphicon-star-empty"> </i><%= notification.info %> <%= link_to 'delete', ('notifications/' + notification.id.to_s), method: :delete %>
				</p>
				<% notification.update(seen: true) %>
				<% seenNotifications += [notification] %>
			<%end%>
		<%end%>
		</div>
	</div> 
<!-- 	<div class="table-responsive" style="width:50%; margin: 100px 0 0 500px; top:30%; left: 60%;text-align:center;">	
		<table class="table-striped">
			<tr>
				<% seenNotifications = [] %>
			<% @notifications.reverse_each do |notification| %>
			<% if !notification.seen %>
			<p><i  class="glyphicon glyphicon-star"> </i><%= notification.info %> <%= link_to 'delete', ('notifications/' + notification.id.to_s), method: :delete %></p>
			<% notification.update(seen: true) %>
				<% seenNotifications += [notification] %>
			<%end%>
			<%end%>
			</tr>
			<tr>
				<% @notifications.reverse_each do |notification| %>
			<% if notification.seen and !seenNotifications.include? notification %>
				<p>
					<i  class="glyphicon glyphicon-star-empty"> </i><%= notification.info %> <%= link_to 'delete', ('notifications/' + notification.id.to_s), method: :delete %>
				</p>
				<% notification.update(seen: true) %>
				<% seenNotifications += [notification] %>
			<%end%>
			<%end%>
			</tr>
		</table>
	</div> -->

	
</body>
