  <div class="headerlist">
<ul id="menu">
<li> Logo</li>

 <li><img src="http://www.capgemini.com/sites/default/files/styles/cap_image_165x112/public/ideas_icon_blue_4.png?itok=ymV_q58q" width="41" height="40" style=" left: 105px; width: 35px; height: 32px;"/></li>

<% if current_user != nil %>
 <li><%= link_to "friend requests" , friendships_path %></li>
 <li> <%= link_to "My Profile" , user_path(current_user.id) %> </li>
 <li><%= link_to "Log out", logout_path, method: :delete %></li>
 <li><%= link_to "notifications" ,user_notifications_path %> </li> 

 <% if !Admin.where(user_id: current_user.id).empty? %>
 <li><%= link_to "requests to join my forums",:controller => "users" ,:action => :admin_join_forums_requests %> </li>
 <% end %>
 <% end %>


</ul>  
</div>
<div style="position:absolute;top:50px;"><h1><%=User.find(current_user.id).username%>'s Notifications:</h1>
		<ul>
		<h4> New Notifications:</h4>
		<% seenNotifications = [] %>
		<% @notifications.each do |notification| %>
			<% if !notification.seen %>
				<li>
					<%= notification.info %> <%= link_to 'delete', ('notifications/' + notification.id.to_s), method: :delete %>
				</li>
				<% notification.update(seen: true) %>
				<% seenNotifications += [notification] %>
			<%end%>
		<%end%>
		<h4> Seen Notifications:</h4>
		<% @notifications.each do |notification| %>
			<% if notification.seen and !seenNotifications.include? notification %>
				<li>
					<%= notification.info %> <%= link_to 'delete', ('notifications/' + notification.id.to_s), method: :delete %>
				</li>
			<%end%>
		<%end%>
		</ul></div>
