<h1>System log:</h1>
<ul>
	<% @actions.reverse_each do |action| %>
		<li>
			<% if action.hidden == false %> 
			 	<%= link_to 'hide', 'syslog/hide/' + action.id.to_s, method: :put %>
			 <% else %> 
			 	<%= link_to 'unhide', 'syslog/unhide/' + action.id.to_s, method: :put %>
			 <% end %> 
			 <%= action.info + ' (' + action.created_at.to_s + ')' %> <% if action.user_id > 0 %> <%= link_to ' ' + User.find(action.user_id).username, 'users/' + action.user_id.to_s %> <% else %> <%= ' System Administrator' %> <% end %>
		</li>
	<% end %>
</ul>