<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<%= stylesheet_link_tag 'style' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/bootstrap-select.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>

	<body style="background: #EEE;">
	
		<%= render "/shared/navbar_sys_admin"%>
	
		<div style="margin-top:80px">	
			<% if session[:sysadmin] == "true" %>
			<div class="btn-group" role="group" aria-label="..." style="left:30px;">
   			  	<%= link_to 'show hidden', '/syslogall', class: 'btn btn-primary'%>
				<%= link_to 'hide all', 'syslog/hideall', method: :put, class: 'btn btn-primary'%>
				<%= link_to 'unhide all', 'syslog/unhideall', method: :put, class: 'btn btn-primary' %>
				</div>
				<%= render 'sysadmin' %>
				<% else %>
				<%= render 'not_sysadmin' %>
			<% end %>
		</div>
	</body>
</html>