<p>Requests to join my Forums: </p>
<table>
  
  <% if @requests_forums.empty? %>
  <p> No new requests </p>
  <% else %>
  <tr>
    <th>Forum</th>
    <th>User</th>
    <th></th>
    <th></th>

  </tr>
  <% for i in 0...@requests_forums.length %>
    <tr>
      <% if  @requests_users[i] != nil %>
      <td>
        
      		<%= link_to @requests_forums[i].title, forum_path(@requests_forums[i].id) %>
      </td>
      <td>
        
          <%= link_to @requests_users[i].full_name,"#{@requests_users[i].id}" %>
          
      </td>
      <td>
           <%= link_to "[Accept]", "/users/accept_join_request?forum=#{@requests_forums[i].id}&user=#{@requests_users[i].id}" %> |
      </td>
      <td>
            <%= link_to "[Reject]", "/users/reject_join_request?forum=#{@requests_forums[i].id}&user=#{@requests_users[i].id}" %> 
      </td>
            <% end %>

      </tr>


      
      <% end %>
    
  <% end %>
</table>
<%= link_to "Back to my Profile" , "profile/#{current_user.id}" %>

