
 

<div class="mainDiv" id="mainDiv">
<%= form_for :user, url: users_path(@user), method: :patch do |f| %>
    <h1>Sign up form</h1>

  
      </ul>
     <div class="field">
      <%= f.label :full_name %><br>
      <%= f.text_field :full_name %><br>
     </div> 

     <div class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username %><br>
     </div>

     <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %><br>
     </div>

     <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %><br>
     </div>

     <div class="field">
      <%= f.label :password_confirmation, 'Confirm password' %><br>
      <%= f.password_field :password_confirmation %><br>
     </div>
   
     <div class="field">
      <%= f.label :gender %><br>
      <%= f.select :gender, ['Male', 'Female'] %><br>
     </div>   

     <div class="field">
      <%= f.label :password_question, "Choose a question (in case you forgot the password)" %><br>
      <%= f.select :password_question, ['What is the name of your best friend?', 'What is the name of your pet?', 'Who was your first English teacher?'] %><br>
     </div> 

     <div class="field">
      <%= f.label :Your_answer %><br>
      <%= f.text_field :answer_for_password_question %><br><br>
     </div>

     <div class='actions'>
      <%= f.submit "Update Information" %>
     </div>
<% end %>
