<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="style.css"> -->
		<%= stylesheet_link_tag 'style' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body>

	<%= render "/shared/navbarloggedin" %>

		<div class="jumbotron" style="height: 250px; background: #4B5966"; >
		</div>
		<div class="container-fluid" style="margin-top: -136px;">
			<div class="profileImg" style="margin-left: 80px">
				<%= image_tag 'bulb.jpg', class: "imgcircle", width: "215", height: "200", border: "10" %>
				<% if Admin.find_by(user_id: current_user.id) != nil %>
					<button data-toggle="modal" data-target="#admin_requests" class="btn btn-primary" style="margin-left: 1100px;">Requests to join my forums</button>
				<% end %>
			</div>
		</div>

		<div class="modal fade" id="admin_requests" role="dialog">
    		<div class="modal-dialog">
    
      <!-- Modal content-->
      			<div class="modal-content" style="margin: 170px auto; width: 400px;">
        			<div class="modal-header">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h3 style="text-align: center;">Requests to join my forums</h3>
          			</br>
          			<table >
  						<thead>
  							<tr>
  								<td>Forum</td>
  								<td> &nbsp; &nbsp; &nbsp; &nbsp; User</td>
  								
  							</tr>
  						</thead>
  						
							  <% if @requests_forums.empty? %>
							  <p> No new requests </p>
							  <% else %>
							  
							  <% for i in 0...@requests_forums.length %>
							    <tr>
							      <% if  @requests_users[i] != nil %>
							      <td>
							        
							      		<%= link_to @requests_forums[i].title, forum_path(@requests_forums[i].id) %>
							      </td>
							      <td>
							        	&nbsp; &nbsp; &nbsp; &nbsp;
							          <%= link_to @requests_users[i].full_name,"#{@requests_users[i].id}" %>
							          
							      </td>

          					
							     
							      <td><a href="/users/accept_join_request?forum= <%= @requests_forums[i].id %>&user= <%= @requests_users[i].id %>" style="color: green;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
							      	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i class="glyphicon glyphicon-ok"></i></a></td>
							         <!--  <%= link_to "[Accept]", "/users/accept_join_request?forum=#{@requests_forums[i].id}&user=#{@requests_users[i].id}" %> |-->
							      </td>
							      <td>
							            <!--<%= link_to "[Reject]", "/users/reject_join_request?forum=#{@requests_forums[i].id}&user=#{@requests_users[i].id}" %> -->
							            <td> &nbsp; <a href="/users/reject_join_request?forum=<%= @requests_forums[i].id %>&user=<%= @requests_forums[i].id %>" style="color: red;"><i class="glyphicon glyphicon-remove"></i></a></td>
							      </td>
							            <% end %>

							      </tr>


							      
							      <% end %>
							    
							  <% end %>
							  </table>
							          				 
          				
        			</div>

        			<!-- <div class="modal-body">
          				<p>Some text in the modal.</p>
        			</div>
        			<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			</div> -->
      			</div>
      
    		</div>
  		</div>
		
			<div class="col-sm-4" style="border: thin solid rgb(85, 100, 113); border-radius: 50px;">
				<h3 style="text-align: center;">
					My personal info
					 <i>
					 	<a data-toggle="modal" data-target="#edit_info" class="fa fa-pencil-square-o" style="font-size 1em;"></a>
					 </i>
				</h3>
         			</br>
          				<table class="table table-hover">
							<tr>
								<td>Name</td>
								<td><%= current_user.full_name %></td>
							</tr>
							<tr>
								<td>Username</td>
								<td><%= current_user.username %></td>
							</tr>
							<tr>
								<td>Email</td>
								<td><%= current_user.email %></td>
							</tr>
							
						</table> 
			</div>
		<div class="modal fade" id="edit_info" role="dialog">
    		<div class="modal-dialog">
    
      <!-- Modal content-->
      			<div class="modal-content" style="width: 400px; height: 600px;">
        			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<div style="position:relative;">
							<%= form_for((current_user) , html: {multipart: true}) do |f| %>
							    <h1 style="text-align: center; color: #96BADA;">Edit form</h1>
							<% if current_user.errors.any? %>
							      <h3>Errors</h3>
							      <ul>
							        <% current_user.errors.full_messages.each do |message| %>
							          <li><%= message %></li>
							        <% end %>
							      </ul>
							    <% end %>
							    <!--<div class="side" style="position: fixed; left: 23px; top: 181px;">
									<ul>
										 <li style=margin-left:100px>
										    <a  class='list-item' href='/forums'>
										      Privacy
										    </a>
										 </li>
										 <li style=margin-left:100px>
										    <a class='list-item' href='/friendships'>
										      Pass
										      word
										    </a>
										</li>
										<li style=margin-left:100px>
										    <a class='list-item' href='/friendships'>
										      Info  </a>
										</li>

									</ul>
								</div>-->
							  	<div style ="style=margin-left:100px style=margin-left:100px">
							        <div>
								      <%= f.label :full_name %><br>
								      <%= f.text_field :full_name %><br>
								    </div> 

								    <div>
								      <%= f.label :username %><br>
								      <%= f.text_field :username %><br>
								    </div>

								    <div>
								      <%= f.label :email %><br>
								      <%= f.email_field :email %><br>
								    </div>

								    <div>
								      <%= f.label :password %><br>
								      <%= f.password_field :password %><br>
								    </div>

								    <div>
								      <%= f.label :gender %><br>
								      <%= f.select :gender, ['Male', 'Female'] %><br>
								    </div>   

								    <div>
								      <%= f.label :password_question, "Choose a question (in case you forgot the password)" %><br>
								      <%= f.select :password_question, ['What is the name of your best friend?', 'What is the name of your pet?', 'Who was your first English teacher?'] %><br>
								    </div> 

								    <div>
								      <%= f.label :Your_answer %><br>
								      <%= f.text_field :answer_for_password_question %><br><br>
								    </div>
								    <div>
									         <p>
									    <%= f.label :privacy, "Public" %>
									    <%= f.radio_button :privacy, 1 %><br>
									    <%= f.label :privacy, "Private" %>
									    <%= f.radio_button :privacy, 2 %><br>
									  </p>
								    </div>

								    <div>
								       <p>
								         <%= f.file_field :image %>
								       </p>
								    </div>

								    <div class='actions'>
								      <input name="commit" type="submit" value="update" class="btn btn-primary">
								    </div>
							    </div>
								<% end %>
							</div>
						</div>
          			</div>
          		</div>
          	</div>
        </div>	
          			</div></div></div></div>

		<div class="col-sm-8">
			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#friends">Friends <span class="badge"><%= User.find(params[:id]).friend_count %></span></a></li>
			  <li><a data-toggle="tab" href="#requests">Requests <span class="badge"><%= Friendship.where(friend_id: User.find(params[:id])).count %></span></a></li>
			  <li><a data-toggle="tab" href="#forums">Forums <span class="badge"><%= Membership.where(user_id: current_user.id, accept: true).count %></span></a></li>
			  <li><a data-toggle="tab" href="#ideas">Ideas <span class="badge"><%= Idea.where(user_id: current_user.id).count %></span></a></li>
			 
			</ul>
			<div class="tab-content">
			  <div id="friends" class="tab-pane fade in active">
			    <table class="table table-hover">
				    <tbody>
						<!--<% users = User.all %>
          				<% users.each do |user| %>
          				<tr>
          					<td><a href="<%= profile_path(user.id) %>"><%= user.full_name %></a></td>
          					<td><%= user.email %></td>
						</tr>
          				<% end %>-->
          				<%= render template: "friendships/index" %>
				    </tbody>
				</table> 
			  </div>
			  <!--<div id="join_requests" class="tab-pane fade in active">
			    <table class="table table-hover">
				   
				</table> 
			  </div>-->
			  <div id="requests" class="tab-pane fade">
			    <table class="table table-hover">
				    <tbody>
						<% users = User.all %>
          				<% users.each do |user| %>
          				<tr>
          					<td><a href="<%= profile_path(user.id) %>"><%= user.full_name %></a></td>
          					<td><a href="#" style="color: green;"><i class="glyphicon glyphicon-ok"></i></a></td>
          					<td><a href="#" style="color: red;"><i class="glyphicon glyphicon-remove"></i></a></td>
						</tr>
          				<% end %>
				    </tbody>
				</table>  
			  </div>
			  <div id="forums" class="tab-pane fade">
			    <table width="371" height="51">
					<tr>
					  <th  id="forumcolum"> Joined Forum</th>
					  <th id="ideatitlecolumn"> Description </th>
					</tr>
						<%  x =Membership.where(user_id: @current_user.id) %>
						<% x.each do |membership| %>
						<% y = Forum.find(membership.forum_id) %>
						<% if !Membership.where(user_id: current_user.id , forum_id: y.id, accept: true).empty? %>
					<tr>
						<td id="forumcolum"><%=  link_to y.title , forum_path(y) %></td>
						<td id="ideatitlecolumn"> <%= y.description %> </td>
					</tr>
					<% end %>
					<%end%>
				</table>
					<% if x.size == 0 %>
						<em> you are not a member in any forums </em>
					<% end %>
			  </div>
			  <div id="ideas" class="tab-pane fade">
			    <table width="371" height="51">
					<tr>
					  <th width="57" id="ideatitlecolumn"> Title</th>
					  <th width="160" id="ideacolumn"> Idea</th>
					  <th width="110" id="forumcolum"> Forum</th>
					</tr>
						<%  x = Idea.where(user: @current_user).order(:text) %>
						<% x.each do |idea| %>
					<tr>
						<td id="ideatitlecolumn"><%= link_to idea.title , forum_idea_path(idea.forum.id, idea.id) %></td>
						<td id="ideacolumn"><%=  idea.text %></td>
						<td id="forumcolum"> <%= link_to idea.forum.title , idea.forum %>  </td>
					</tr>
					<% end %>
				</table>
					<% if x.size == 0 %>
					<em> still Idealess </em>
					<% end %>
			  </div>
			</div>
			
			<div style="margin-top:80px">
				<nav> 
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>

		
		
		<!-- Start of modal -->
		<div class="modal fade" id="my_friends" role="dialog">
    		<div class="modal-dialog">
    
      <!-- Modal content-->
      			<div class="modal-content" style="margin: 170px auto; width: 400px;">
        			<div class="modal-header">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h3 style="text-align: center;">My friends</h3>
          			</br>
          				<table class="table table-hover">
						    <thead>
						      <tr >
						        <td >Name</td>
						        <td>Email</td>
						      </tr>
						    </thead>
						    <tbody>
								<% users = User.all %>
		          				<% users.each do |user| %>
		          				<tr>
		          					<td><a href="<%= profile_path(user.id) %>"><%= user.full_name %></a></td>
		          					<td><%= user.email %></td>
								</tr>
		          				<% end %>
						    </tbody>
						</table>  
          				
        			</div>

        			<!-- <div class="modal-body">
          				<p>Some text in the modal.</p>
        			</div>
        			<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			</div> -->
      			</div>
      
    		</div>
  		</div>
		
  		</br>

		
		<div class="modal fade" id="requests" role="dialog">
    		<div class="modal-dialog">
    
      <!-- Modal content-->
      			<div class="modal-content" style="margin: 170px auto; width: 400px;">
        			<div class="modal-header">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h3 style="text-align: center;">Friend requests</h3>
          			</br>
          				<table class="table table-hover">
						    <tbody>
								<% users = User.all %>
		          				<% users.each do |user| %>
		          				<tr>
		          					<td><a href="<%= profile_path(user.id) %>"><%= user.full_name %></a></td>
		          					<td><a href="#" style="color: green;"><i class="glyphicon glyphicon-ok"></i></a></td>
		          					<td><a href="#" style="color: red;"><i class="glyphicon glyphicon-remove"></i></a></td>
								</tr>
		          				<% end %>
						    </tbody>
						</table>  
          				
        			</div>

        			<!-- <div class="modal-body">
          				<p>Some text in the modal.</p>
        			</div>
        			<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			</div> -->
      			</div>
      
    		</div>
  		</div>
  		</br>
  		
  		<div class="modal fade" id="info" role="dialog">
    		<div class="modal-dialog">
    
      <!-- Modal content-->
      			<div class="modal-content" style="margin: 170px auto; width: 400px;">
        			<div class="modal-header">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h3 style="text-align: center;">My personal info <i><a href="<% edit_user_path(current_user) %>" class="fa fa-pencil-square-o" style="font-size 1em;"></a></i></h3>

         			</br>
          				<table class="table table-hover">
							<tr>
								<td>Name</td>
								<td><%= current_user.full_name %></td>
							</tr>
							<tr>
								<td>Username</td>
								<td><%= current_user.username %></td>
							</tr>
							<tr>
								<td>Email</td>
								<td><%= current_user.email %></td>
							</tr>
							
						</table>  
          				
        			</div>


        			<!-- <div class="modal-body">
          				<p>Some text in the modal.</p>
        			</div>
        			<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			</div> -->
      			</div>
      
    		</div>
  		</div>
  		
		<!-- <div class="container-fluid" style="margin-top: 50px;">
			<div class="col-md-3">
				<div class="tabbable tabs-left" style="margin-left: 100px;">
					<ul class="nav nav-tabs">
 		 				<li class="active"><a data-toggle="pill" href="#home">Forums</a></li>
  						<li><a data-toggle="pill" href="#menu1">Ideas</a></li>
  						<li><a data-toggle="pill" href="#menu2">Friends</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<div class="tab-content">
  					<div id="home" class="tab-pane fade in active">
   						<h3>Forums</h3>
   						<p>Some content.</p>
  					</div>
  					<div id="menu1" class="tab-pane fade">
    					<h3>Ideas</h3>
    					<p>Some content in menu 1.</p>
  					</div>
  					<div id="menu2" class="tab-pane fade" style="margin-top: -45px;">
    					<!- <h3>Friends</h3>
    					<p>Some content in menu 2.</p> ->
    					<ul class="nav nav-tabs">
 	 						<li class="active"><a data-toggle="pill" href="#hom">My Friends</a></li>
  							<li><a data-toggle="pill" href="#menu">Requests</a></li>
						</ul>
  					</div>
				</div>	
			</div>
		</div> -->
	</body>
</html>