<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="style.css"> -->
		<%= stylesheet_link_tag 'style' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body>

	<%= render "/shared/navbarloggedin" %>

		<div class="jumbotron other-color">
			<div class="container-fluid" style="margin-top: 40px;">
				<div class="profileImg">
					<%= image_tag 'bulb.jpg', class: "img-circle", width: "215", height: "200" %>
				</div>
				
				<!-- <div class="col-md-3">
					<%= image_tag 'bulb.jpg', class: "img-circle", width: "280", height: "265" %>
				</div>
				<div class="col-md-3">
					<% if @current_user.uid == nil %>
  						<%= @current_user.full_name %>
					<% else %>
  						<%= @current_user.name %>
 					<% end %>
				</div> -->

			</div>
		</div>

		<a data-toggle="modal" data-target="#my_friends" >My friends</a>
		<div class="modal fade" id="my_friends" role="dialog">
    		<div class="modal-dialog">
    
      <!-- Modal content-->
      			<div class="modal-content" style="margin: 170px auto; width: 400px;">
        			<div class="modal-header">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h3 style="text-align: center;">My friends</h3>
          				<table class="table table-hover">
						    <thead>
						      <tr >
						        <td >Name</td>
						        <td>Email</td>
						      </tr>
						    </thead>
						    <tbody>
								<% users = User.all %>
		          				<% users.each do |user| %>
		          				<tr>
		          					<td><a href="<%= profile_path(user.id) %>"><%= user.full_name %></a></td>
		          					<td><%= user.email %></td>
								</tr>
		          				<% end %>
						    </tbody>
						</table>  
          				
        			</div>

        			<!-- <div class="modal-body">
          				<p>Some text in the modal.</p>
        			</div>
        			<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			</div> -->
      			</div>
      
    		</div>
  		</div>
		
  		</br>

		<a data-toggle="modal" data-target="#requests" >Friend reuests</a>
		<div class="modal fade" id="requests" role="dialog">
    		<div class="modal-dialog">
    
      <!-- Modal content-->
      			<div class="modal-content" style="margin: 170px auto; width: 400px;">
        			<div class="modal-header">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h3 style="text-align: center;">Friend requests</h3>
          				<table class="table table-hover">
						    <tbody>
								<% users = User.all %>
		          				<% users.each do |user| %>
		          				<tr>
		          					<td><a href="<%= profile_path(user.id) %>"><%= user.full_name %></a></td>
		          					<td><a href="#" style="color: green;"><i class="glyphicon glyphicon-ok"></i></a></td>
		          					<td><a href="#" style="color: red;"><i class="glyphicon glyphicon-remove"></i></a></td>
								</tr>
		          				<% end %>
						    </tbody>
						</table>  
          				
        			</div>

        			<!-- <div class="modal-body">
          				<p>Some text in the modal.</p>
        			</div>
        			<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			</div> -->
      			</div>
      
    		</div>
  		</div>
		<!-- <div class="container-fluid" style="margin-top: 50px;">
			<div class="col-md-3">
				<div class="tabbable tabs-left" style="margin-left: 100px;">
					<ul class="nav nav-tabs">
 		 				<li class="active"><a data-toggle="pill" href="#home">Forums</a></li>
  						<li><a data-toggle="pill" href="#menu1">Ideas</a></li>
  						<li><a data-toggle="pill" href="#menu2">Friends</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<div class="tab-content">
  					<div id="home" class="tab-pane fade in active">
   						<h3>Forums</h3>
   						<p>Some content.</p>
  					</div>
  					<div id="menu1" class="tab-pane fade">
    					<h3>Ideas</h3>
    					<p>Some content in menu 1.</p>
  					</div>
  					<div id="menu2" class="tab-pane fade" style="margin-top: -45px;">
    					<!- <h3>Friends</h3>
    					<p>Some content in menu 2.</p> ->
    					<ul class="nav nav-tabs">
 	 						<li class="active"><a data-toggle="pill" href="#hom">My Friends</a></li>
  							<li><a data-toggle="pill" href="#menu">Requests</a></li>
						</ul>
  					</div>
				</div>	
			</div>
		</div> -->
	</body>
</html>