<!DOCTYPE html>
<html lang="en">
		<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="style.css"> -->
		<%= stylesheet_link_tag 'style' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body style="background: #F6F9FB;">

	<%= render "/shared/navbarloggedin" %>
	<div style="background: #F6F9FB">
		<div class="jumbotron" style="height: 250px; background: #4B5966"; >
			
			<h1  style="position:absolute; left:18%; top:18%; font-size: 50px; font-family:Arial Rounded MT Bold; color:white; " > <%= current_user.full_name %>  </h1>
			<h2 style="position:absolute; left:25%; top:20% "> 
			<i>
				<a data-toggle="modal" data-target="#edit_info" class="fa fa-pencil-square-o" style="font-size 1em;"></a>
			</i>
			</h2>
		</div>

		<div class="container-fluid" style="margin-top: -136px;">
			<div class="profileImg" style="margin-left: 80px">
			 <%= link_to image_tag(current_user.image.url , :class => "imgcircle", :width => "215", :height => "200", :border =>"10"), asset_path(current_user.image.url) %>
				

			</div>
		</div>
		
			

		</div>
			

		<div class="col-lg-3 " style= "margin-top: 20px; background: #F6F9FB">
				<div class="btn-group-vertical" role="group">
					<button type="button" class="btn btn-default btn-lg"><a data-toggle="tab" href="#forums">Forums <span class="badge"><%= Membership.where(user_id: current_user.id, accept: true).count %></span></a></button>
  					<button type="button" class="btn btn-default btn-lg"><a data-toggle="tab" href="#friends">Friends <span class="badge"><%= User.find(params[:id]).friend_count %></span></a></button>
			  		<button type="button" class="btn btn-default btn-lg"><a data-toggle="tab" href="#requests">Requests <span class="badge"><%= Friendship.where(friend_id: User.find(params[:id]), status: nil).count %></span></a></button>
			  		<button type="button" class="btn btn-default btn-lg"><a data-toggle="tab" href="#ideas">Ideas <span class="badge"><%= Idea.where(user_id: current_user.id).count %></span></a></button>
				</div>
		</div>
		<div class="col-lg-9 info " style= "margin-top: 20px;">	
			<div class="tab-content">
			  <div id="friends" class="tab-pane fade ">
			  	
			    <table class="table table-hover">
				    <tbody>
						
          				<%= render template: "friendships/index" %>
				    </tbody>
				</table> 
			</div>
			  
			  <div id="requests" class="tab-pane fade">
			  	<br>
			    <table class="table table-hover">
				    <tbody>
						<% requests = Friendship.where(friend_id: params[:id], status: nil) %>
						<% if requests.empty? %>
							<em> No new requests </em>
						<% else %>
							<% users = [] %>
							<% requests.each do |request| %>
								<% users += [User.find(request.user_id)] %>
							<% end %>
	          				<% users.each do |user| %>
	          				<thead>Friend Requests</thead>
	          				<tr>
	          					<% friendship = Friendship.where(friend_id: params[:id], user_id: user.id).first %>
	          					<td><a href="<%= profile_path(user.id) %>"><%= user.full_name %></a></td>
	          					<td><a href="<%= '/friendships/' + friendship.id.to_s + '/accept' %>" style="color: green;"><i class="glyphicon glyphicon-ok"></i></a></td>
	          					<td><a href="<%= '/friendships/' + friendship.id.to_s + '/reject' %>" style="color: red;"><i class="glyphicon glyphicon-remove"></i></a></td>
							</tr>
	          				<% end %>
	          			<% end %>
				    </tbody>
				</table> 
			  	</div>
				<div id="forums" class="tab-pane fade in active"><br>
					<% if Admin.find_by(user_id: current_user.id) != nil %>
					<button data-toggle="modal" data-target="#admin_requests" class="btn btn-primary" style="margin-left: 625px;">Requests to join my forums</button>
					<% end %>
			  	<%  memberships = Membership.where(user_id: params[:id], accept: true) %>
			    <% if memberships.empty? %>
						<em> you are not a member in any forums </em>
						<br>
						<br>
				<% else %>
			    <table width="371" height="51">
					<tr>
					  <th  id="forumcolum"> Joined Forum</th>
					  <th id="ideatitlecolumn"> Description </th>
					</tr>
						<% memberships.each do |membership| %>
						<% forum = Forum.find(membership.forum_id) %>
						<% if !Membership.where(user_id: params[:id] , forum_id: forum.id, accept: true).empty? %>
					<tr>
						<td id="forumcolum"><%=  link_to forum.title , forum_path(forum) %></td>
						<td id="ideatitlecolumn"> <%= forum.description %> </td>
					</tr>
					<% end %>
					<%end%>
				</table><br>
				<% end %>	
			  </div>
			  <div id="ideas" class="tab-pane fade">
			  	<br>
			  	<%  x = Idea.where(user: @current_user).order(:text) %>
			    <% if x.size == 0 %>
					<em> still Idealess </em>
					<br>
				<% else %>
			    <table width="371" height="51">
					<tr>
					  <th width="57" id="ideatitlecolumn"> Title</th>
					  <th width="160" id="ideacolumn"> Idea</th>
					  <th width="110" id="forumcolum"> Forum</th>
					</tr>
						<% x.each do |idea| %>
					<tr>
						<td id="ideatitlecolumn"><%= link_to idea.title , forum_idea_path(idea.forum.id, idea.id) %></td>
						<td id="ideacolumn"><%=  idea.text %></td>
						<td id="forumcolum"> <%= link_to idea.forum.title , idea.forum %>  </td>
					</tr>
					<% end %>
				</table>

				<% end %>
				<br>
				</div>
			</div>
			
			
		</div>
		</div>

  		<!-- -----------------------------------------------Start of modals--------------------------------------------- -->
  		<!-- Start of edit info modal -->
		<div class="modal fade" id="edit_info" role="dialog">
    		<div class="modal-dialog">
    
      <!-- Modal content-->
	      			<div class="modal-content" style="width: 400px; height: 600px;">
	        			<div class="modal-header">
	        			<button type="button" class="close" data-dismiss="modal">&times;</button>
	          				<div style="position:relative;">
								<%= form_for((current_user) , html: {multipart: true}) do |f| %>
								    <h1 style="text-align: center; color: #96BADA;">Edit form</h1>
								<% if current_user.errors.any? %>
								      <h3>Errors</h3>
								      <ul>
								        <% current_user.errors.full_messages.each do |message| %>
								          <li><%= message %></li>
								        <% end %>
								      </ul>
								    <% end %>
								  	<div style ="style=margin-left:100px style=margin-left:100px">
								        <div>
									      <%= f.label :full_name %><br>
									      <%= f.text_field :full_name %><br>
									    </div> 

									    <div>
									      <%= f.label :username %><br>
									      <%= f.text_field :username %><br>
									    </div>

									    <div>
									      <%= f.label :email %><br>
									      <%= f.email_field :email %><br>
									    </div>

									    <div>
									      <%= f.label :password %><br>
									      <%= f.password_field :password %><br>
									    </div>

									    <div>
									      <%= f.label :gender %><br>
									      <%= f.select :gender, ['Male', 'Female'] %><br>
									    </div>   

									    <div>
									      <%= f.label :password_question, "Choose a question (in case you forgot the password)" %><br>
									      <%= f.select :password_question, ['What is the name of your best friend?', 'What is the name of your pet?', 'Who was your first English teacher?'] %><br>
									    </div> 

									    <div>
									      <%= f.label :Your_answer %><br>
									      <%= f.text_field :answer_for_password_question %><br><br>
									    </div>
									    <div>
										         <p>
										    <%= f.label :privacy, "Public" %>
										    <%= f.radio_button :privacy, 1 %><br>
										    <%= f.label :privacy, "Private" %>
										    <%= f.radio_button :privacy, 2 %><br>
										  </p>
									    </div>

									    <div>
									       <p>
									         <%= f.file_field :image %>
									       </p>
									    </div>

									    <div class='actions'>
									      <input name="commit" type="submit" value="update" class="btn btn-primary">
									    </div>
								    </div>
									<% end %>
								</div>
						</div>
          			</div>
          		</div>
          	</div>
        </div>	
          			</div></div></div></div>
  		
  		
		<!-- Start of admin request modal -->
		<div class="modal fade" id="admin_requests" role="dialog">
    		<div class="modal-dialog">
    
      			<!-- Modal content-->
      			<div class="modal-content" style="margin: 170px auto; width: 400px;">
        			<div class="modal-header">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h3 style="text-align: center;">Requests to join my forums</h3>
          			</br>
          			<table >
  						<thead>
  							<tr>
  								<td>Forum</td>
  								<td> &nbsp; &nbsp; &nbsp; &nbsp; User</td>
  								
  							</tr>
  						</thead>
  						
							  <% if @requests_forums.empty? %>
							  <p> No new requests </p>
							  <% else %>
							  
							  <% for i in 0...@requests_forums.length %>
							    <tr>
							      <% if  @requests_users[i] != nil %>
							      <td>
							        
							      		<%= link_to @requests_forums[i].title, forum_path(@requests_forums[i].id) %>
							      </td>
							      <td>
							        	&nbsp; &nbsp; &nbsp; &nbsp;
							          <%= link_to @requests_users[i].full_name,"#{@requests_users[i].id}" %>
							          
							      </td>

          					
							     
							      <td><a href="/users/accept_join_request?forum= <%= @requests_forums[i].id %>&user= <%= @requests_users[i].id %>" style="color: green;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
							      	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i class="glyphicon glyphicon-ok"></i></a></td>
							         <!--  <%= link_to "[Accept]", "/users/accept_join_request?forum=#{@requests_forums[i].id}&user=#{@requests_users[i].id}" %> |-->
							      </td>
							      <td>
							            <!--<%= link_to "[Reject]", "/users/reject_join_request?forum=#{@requests_forums[i].id}&user=#{@requests_users[i].id}" %> -->
							            <td> &nbsp; <a href="/users/reject_join_request?forum=<%= @requests_forums[i].id %>&user=<%= @requests_forums[i].id %>" style="color: red;"><i class="glyphicon glyphicon-remove"></i></a></td>
							      </td>
							            <% end %>
							      </tr>
							      <% end %>
							  <% end %>
							  </table>
        			</div>
      			</div>
      
    		</div>
  		</div>
		<!-- End of modal-->

	</body>

</html>