<body>
<head><link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script></head>

<div><ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active"><a href="/forums" >forums</a></li>
             <% if current_user != nil %>
             <li role="presentation" class="active"><%= link_to "friend requests" , friendships_path %></li>
             <li><%= link_to "Log out", logout_path, method: :delete %></li>
             <% if !Admin.where(user_id: current_user.id).empty? %>
             <li role="presentation" class="active"><%= link_to "requests to join my forums", :action => :admin_join_forums_requests %> </li>
             <%end%>
              <li role="presentation" class="active"><%= link_to "friends" , friendship_path(current_user) %></li>
              <li> <%= link_to image_tag(current_user.image.url,:style=>'width:50px ;height:40px;'), user_path(current_user) %></li>
              
            </ul>
</div>
  <div class="row" style="margin-top:100px;">
  <div class="col-sm-3">
    <!-- SideBAR -->
  </div>
    <div class="col-sm-5">
    <!-- MAIN -->
        <% if @current_user.uid == nil %>
            <h1> <%= @current_user.full_name %> welcome to your profile</h1>
          <% else %>
            <h1> <%= @current_user.name %> welcome to your profile</h1>
          <% end %>
    <div>
          <%= link_to "Delete", deleteImage_path(current_user) %>
          <button style="position:absolute; left:400px;" class="btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Upload
      </button>

      <%= link_to image_tag(current_user.image.url,:style=>'width:450px; height:400px;'), asset_path(current_user.image.url) %>
      <div class="collapse" id="collapseExample">
        <div class="well" style="z-index:1;">
          <%= form_for((current_user) , html: {multipart: true}) do |f| %>
              <% if current_user.errors.any? %>
                <h3>Errors</h3>
                  <ul>
                    <% current_user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
              <% end %>
            <p>
             <%= f.hidden_field :image, value: '' %>
             <%= f.file_field :image %>
           </p>
           <%= f.submit "Upload Image" %>
           <% end %>
        </div>
      </div>
      </div>
        
      <div style="height:10px;  margin-top:20px; margin-bottom:20px;" >
        <!-- SPACE GAP -->
      </div>
      <div class="row">
            <div style="margin:15px;">
            
            <div role="tabpanel" style="background-color:#cc99ff;">
            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist" style="margin-left:150px;">
              <li role="presentation" class="active"><a href="#info" aria-controls="home" role="tab" data-toggle="tab">Information</a></li>
              <li role="presentation"><a href="#foroms" aria-controls="foroms" role="tab" data-toggle="tab">Forums</a></li>
              <li role="presentation"><a href="#ideas" aria-controls="ideas" role="tab" data-toggle="tab">Ideas</a></li>
              <li role="presentation"><a href="#memberships" file:///home/miada/SEproject/app/views/users/bootstrapprofilelayout.htmlaria-controls="memberships" role="tab" data-toggle="tab">Memberships</a></li>
            </ul>
          </div>
            <!-- Tab panes -->
          <div class="tab-content">
             <div role="tabpanel" class="tab-pane active" id="info">
                <%= link_to "edit" , edit_user_path(current_user) %>  
                <h2> Information </h2>
                <p>full name : <%= @current_user.full_name %> </p>
                <p>email: <%= @current_user.email %> </p>
                <p>gender : <%= @current_user.gender %> </p>
             </div>
             <div role="tabpanel" class="tab-pane" id="foroms">
              <table width="371" height="51">
               <tr>
                 <th width="110"  id="forumcolum"> Forum</th>
                 <th id="ideatitlecolumn"> Description </th>
               </tr>
               <%  x = Admin.where(user_id: @current_user.id) %>
               <% x.each do |admin| %>
               <% y = Forum.find(admin.forum_id) %>
               <tr>
                <td id="forumcolum"><%=  link_to y.title , forum_path(y) %></td>
                <td id="ideatitlecolumn"> <%= y.description %> </td>
               </tr>
               <% end %>
               </table>
               <% if x.size == 0 %>
               <em> forumless </em>
               <% end %>
            </div>
            <div role="tabpanel" class="tab-pane" id="ideas">
              <table width="371" height="51">
                <tr>
                 <th width="57" id="ideatitlecolumn"> Title</th>
                 <th width="160" id="ideacolumn"> Idea</th>
                 <th width="110" id="forumcolum"> Forum</th>
                </tr>
                <%  x = Idea.where(user: @current_user).order(:text) %>
                <% x.each do |idea| %>
                <tr>
                  <td id="ideatitlecolumn"><%= link_to idea.title , forum_idea_path(idea.forum.id, idea.id) %></td>
                  <td id="ideacolumn"><%=  idea.text %></td>
                  <td id="forumcolum"> <%= link_to idea.forum.title , idea.forum %>  </td>
                </tr>
                <% end %>
              </table>
              <% if x.size == 0 %>
              <em> still Idealess </em>
              <% end %>
            </div>
            <div role="tabpanel" class="tab-pane" id="memberships">
              <table width="371" height="51">
                <tr>
                  <th  id="forumcolum"> Joined Forum</th>
                  <th id="ideatitlecolumn"> Description </th>
                </tr>
                <%  x =Membership.where(user_id: @current_user.id) %>
                <% x.each do |membership| %>
                <% y = Forum.find(membership.forum_id) %>
                <% if !Membership.where(user_id: current_user.id , forum_id: y.id, accept: true).empty? %>
                <tr>
                  <td id="forumcolum"><%=  link_to y.title , forum_path(y) %></td>
                  <td id="ideatitlecolumn"> <%= y.description %> </td>
                </tr>
                <% end %>
                <%end%>
              </table>
              <% if x.size == 0 %>
              <em> you are not a member in any forums </em>
              <% end %>
          </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
  
</body>
<%end %>