
<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="style.css"> -->
		<%= stylesheet_link_tag 'style' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body style="background: #F6F9FB;">

	<%= render "/shared/navbarloggedin" %>

		<div class="jumbotron" style="height: 250px; background: #4B5966"; >
			<h1  style="position:absolute; left:18%; top:18%; font-size: 50px; font-family:Arial Rounded MT Bold; color:white; " > <%= User.find(params[:id]).full_name %>  </h1>
		</div>
		<div class="container-fluid" style="margin-top: -136px;">
			<div class="profileImg" style="margin-left: 80px">
				<%= link_to image_tag(@user.image.url , :class => "imgcircle", :width => "215", :height => "200", :border =>"10"), asset_path(@user.image.url) %>
			
				<% if Friendship.where(user_id: User.find(params[:id]), friend_id: current_user.id).empty? && Friendship.where(user_id: current_user.id, friend_id: User.find(params[:id])).empty? %>
					<form action="<%= '/users/' + params[:id] + '/friendships' %>" method="post">
						<div>
							<button type="submit" class="btn btn-success load" data-joined-text="<i class='fa fa-check-circle'></i>&nbsp;&nbsp;Friend" id="join" style="margin-top: 18px;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Loading" autocomplete="off"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Friend</button>
							<input name="authenticity_token" type="hidden" value="dW9Jg5hMVM6z57MGrm+peNzuU9ZaqNW+AxLfINVW5Qw=">
						</div>
					</form>
				<% elsif !Friendship.where(user_id: User.find(params[:id]), friend_id: current_user.id, status: true).empty? || !Friendship.where(user_id: current_user.id, friend_id: User.find(params[:id]), status: true).empty? %>
					<button class="btn btn-success" style="margin-top: 18px;" disabled><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Friend</button>
				<% else %>
					<button class="btn btn-success" style="margin-top: 18px;" disabled><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Friend request sent</button>
				<% end %>
			</div>
		</div>
		
			
		
      	<div class="col-lg-3 " style= "margin-top: 20px; background: #F6F9FB">
				<div class="btn-group-vertical" role="group">
					<button type="button" class="btn btn-default btn-lg"><a data-toggle="tab" href="#forums">Forums <span class="badge"><%= Membership.where(user_id: User.find(params[:id]), accept: true).count %></span></a></button>
  					<button type="button" class="btn btn-default btn-lg"><a data-toggle="tab" href="#friends">Friends <span class="badge"><%= User.find(params[:id]).friend_count %></span></a></button>
			  		
			  		<button type="button" class="btn btn-default btn-lg"><a data-toggle="tab" href="#ideas">Ideas <span class="badge"><%= Idea.where(user_id: User.find(params[:id])).count %></span></a></button>
				</div>
		</div>


		<div class="col-lg-9 info " style= "margin-top: 20px;">	
			<div class="tab-content">
			  
			 
			  <div id="forums" class="tab-pane fade in active"><br>
			  	<%  memberships = Membership.where(user_id: params[:id], accept: true) %>
			    <% if memberships.empty? %>
						<em> you are not a member in any forums </em><br><br>
				<% else %>
			    <table width="371" height="51">
					<tr>
					  <th  id="forumcolum"> Joined Forum</th>
					  <th id="ideatitlecolumn"> Description </th>
					</tr>
						<% memberships.each do |membership| %>
						<% forum = Forum.find(membership.forum_id) %>
						<% if !Membership.where(user_id: params[:id] , forum_id: forum.id, accept: true).empty? %>
					<tr>
						<td id="forumcolum"><%=  link_to forum.title , forum_path(forum) %></td>
						<td id="ideatitlecolumn"> <%= forum.description %> </td>
					</tr>
					<% end %>
					<%end%>
				</table><br>
				<% end %>	
			  </div>

			   <div id="friends" class="tab-pane fade ">
			  	
			    <table class="table table-hover">
				    <tbody>
						
          				<%= render template: "friendships/index" %>
				    </tbody>
				</table> 
			</div>
			  
			   <div id="ideas" class="tab-pane fade">
			   <div role="tabpanel" class="tab-pane" id="ideas">
			   <%  memberships = Idea.where(user: @user).order(:text) %>
			   <% if memberships.empty? %><br>
                <em> still Idealess </em><br><br>
                <% else %>
                 <table width="371" height="51">
                <tr>
                    <th width="57" id="ideatitlecolumn"> Title</th>
                  <th width="160" id="ideacolumn"> Idea</th>
                  <th width="110" id="forumcolum"> Forum</th>
                </tr>
                
                <% memberships.each do |idea| %>
                <tr>
                  <td id="ideatitlecolumn"><%= link_to idea.title , forum_idea_path(idea.forum.id, idea.id)%></td>
                  <td id="ideacolumn"><%= idea.text %></td>
                  <td id="forumcolum"> <%= link_to idea.forum.title , idea.forum %>  </td>
                </tr>
                <% end %>
                </table>
                <% end %>
                 </div>
			  </div>
			</div>
			
			
		</div>

		
		
		
		
  		
  		
	</body>
</html>
