<nav class="navbar navbar-fixed-top white">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="">iDea</a>
		</div>
		<div>
			<ul class="nav navbar-nav" style="position:absolute; top:5%; left:22%;">
				<li id="search">
					<%= form_tag '/search', { class: 'form-class', id: 'form-id', role: 'form', method: 'post' } do %>
			<%= text_field_tag(:q, value =nil,:placeholder => "Looking for something?", :class => 'form-control' ) %>
			
				</li>
				<li  id="search" style="width:70px;">
					<%= select_tag(:type, "<option>All</option><option>Users</option><option>Forums</option><option>Ideas</option>".html_safe, options={:class => 'form-control'}) %>
					<%= hidden_field_tag(:searchtype, "normal" ) %>
						<% submit_tag("Search", :class => 'btn btn-primary') %>	
			
				</li>
				<li id="search">
					 <%= link_to "Advanced search", "/advancedsearch" , class: 'btn btn-s' %><% end %>		
					
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			<li>
				<%= link_to 'Merge forums', sysadmins_merge_path %>
			</li>
			<li>
				<%= link_to 'System log', '/syslog' %>
			</li>
			<li class="dropdown">
					
			<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						Control
						 <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= sysadmins_show_path %>"><i class="fa fa-user"></i> Users</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= forums_sysadmins_path %>"><i class="fa fa-folder-open"></i> Forums</a></li>
			</ul>
  			
  			</li>
  			<li>
  				<%= link_to 'logout', root_path %>
  			</li>
  			</ul>
  			
		</div>
	</div>
</nav>