<nav class="navbar navbar-fixed-top white">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="">iDea</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><div class="field form-group">
			<%= form_tag '/search', { class: 'form-class', id: 'form-id', role: 'form', method: 'post' } do %>
			<%= text_field_tag(:q, value =nil,:placeholder => "Looking for something?", :class => 'form-control' ) %>
			<%= select_tag(:type, "<option>All</option><option>Users</option><option>Forums</option><option>Ideas</option>".html_safe, :class => 'selectpicker', :style => 'float:right;') %>
			<%= hidden_field_tag(:searchtype, "normal" ) %>
			<% submit_tag("Search", :class => 'btn btn-primary') %>
			<%= link_to "Advanced search", "/advancedsearch" , class: 'btn btn-xs' %>
		<% end %>		
			</div></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			<li>
				<%= link_to 'Merge forums', sysadmins_merge_path %>
			</li>
			<li>
				<%= link_to 'System log', '/syslog' %>
			</li>
  			<li>
	  			<%= link_to 'control forums', forums_sysadmins_path %>
  			</li>
  			</ul>

		</div>
	</div>
</nav>