

<nav class="navbar navbar-fixed-top white" >
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="<%= user_path(current_user.id) %>">iDea</a>
		</div>
		<div>
			<ul class="nav navbar-nav" style="position:absolute;  margin: 6px 0 0 45px; left: 20%; ">
				<li id="search">
					<%= form_tag '/search', { class: 'form-class', id: 'form-id', role: 'form', method: 'post' } do %>
			<%= text_field_tag(:q, value =nil,:placeholder => "Looking for something?", :class => 'form-control' ) %>
			
				</li>
				<li  id="search" style="width:70px; ">
					<%= select_tag(:type, "<option>All</option><option>Users</option><option>Forums</option><option>Ideas</option>".html_safe, options={:class => 'form-control'}) %>
					<%= hidden_field_tag(:searchtype, "normal" ) %>
						<% submit_tag("Search", :class => 'btn btn-primary') %>	
			
				</li>
				<li id="search" style="position:absolute; top:-6px; left:267px;">
					 <%= link_to "Advanced search", "/advancedsearch" , class: 'btn btn-s' %><% end %>		
					
				</li>
				</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" >
					
    				<li  class="dropdown">
    				<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    				Notifications
    				<span class="badge"><%= Notification.where(user_id: current_user.id, seen:false, :limit => 5).count %></span>
    				 <span class="caret"></span></a>
						<div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="width:500px; position:absolute; text-align:center; left:-170px; border-radius:15px 15px 15px 15px;">
							<div >
								<% seenNotifications = [] %>
								<% Notification.where(user_id: current_user.id).reverse_each do |notification| %>
								<% if !notification.seen %>
								<p><i  class="glyphicon glyphicon-star"> </i><%= notification.info %> <%= link_to 'delete', ('notifications/' + notification.id.to_s), method: :delete %></p>
								<% notification.update(seen: true) %>
									<% seenNotifications += [notification] %>
								<%end%>
								<%end%>
							</div>
							<div >

								<%Notification.where(user_id: current_user.id,:limit => 5).reverse_each do |notification| %>
								<% if notification.seen and !seenNotifications.include? notification %>

								<p>
									<i  class="glyphicon glyphicon-star-empty"> </i><%= notification.info %> <%= link_to 'delete', ('notifications/' + notification.id.to_s), method: :delete %>
								</p>
								<% notification.update(seen: true) %>
								<% seenNotifications += [notification] %>
							<%end%>
							<%end%>
							</div>
							<div style="border-top:1pt solid #aaa;">
							<a href="/notifications"> see all notifications</a>
							</div>
						</div>
					</li>

    				<li><a href="/forums">Forums</a></li>
    				<li class="dropdown">
						<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						<% if current_user.uid == nil %>
							<%= current_user.full_name %>
					<% else %>
							<%= current_user.name %>
						<% end %>
						 <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= user_path(current_user.id) %>"><i class="fa fa-user"></i> Profile</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-cog"></i> Settings</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= help_path %>"><i class="fa fa-question"></i> Help</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= signout_path %>"><i class="fa fa-sign-out"></i> Logout</a></li>
						</ul>
    				</li>
  				</ul>
		</div>
	</div>
</nav>