

<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="style.css"> -->
		<%= stylesheet_link_tag 'style' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<style type="text/css">
	#search{
		float: left;
	}
	#searchdiv{

		    list-style-type: none;
	}
	</style>
</head>
<nav class="navbar navbar-fixed-top white">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="<%= user_path(current_user.id) %>">iDea</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li style="top:0px;">
			
				<!-- <input class="form-control" type="text" placeholder="Looking for something?" style="margin-top: 9px; width: 250px;"> -->
			<div class="field form-group">
			<ul id="searchdiv" >
				<li id="search">
					<%= form_tag '/search', { class: 'form-class', id: 'form-id', role: 'form', method: 'post' } do %>
			<%= text_field_tag(:q, value =nil,:placeholder => "Looking for something?", :class => 'form-control' ) %>
			
				</li>
				<li  id="search" style="width:70px;">
					<%= select_tag(:type, "<option>All</option><option>Users</option><option>Forums</option><option>Ideas</option>".html_safe, options={:class => 'form-control'}) %>
					<%= hidden_field_tag(:searchtype, "normal" ) %>
						<% submit_tag("Search", :class => 'btn btn-primary') %>	
			
				</li>
				<li id="search">
					 <%= link_to "Advanced search", "/advancedsearch" , class: 'btn btn-s' %><% end %>		
					
				</li>
			</ul>
			</div>
				</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				
    				<li><a href="#">Notifications</a></li>
    				<li><a href="/forums">Forums</a></li>
    				<li class="dropdown">
						<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						<% if current_user.uid == nil %>
							<%= current_user.full_name %>
					<% else %>
							<%= current_user.name %>
						<% end %>
						 <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= user_path(current_user.id) %>"><i class="fa fa-user"></i> Profile</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-cog"></i> Settings</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= help_path %>"><i class="fa fa-question"></i> Help</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= signout_path %>"><i class="fa fa-sign-out"></i> Logout</a></li>
						</ul>
    				</li>
  				</ul>
		</div>
	</div>
</nav>