

<ul>


<% @users.each do |user| %>


<% for friendship in user.friendships %>



  <li>


  	
<% if  friendship.friend_name == current_user.username && friendship.status == true %>
  	
<% if user.bfriends.include?(current_user) %>
<%= h friendship.user_name %> (<%= link_to "remove", friendship, :method => :delete %>)
<% else %>
  	
    <%= h link_to friendship.user_name, user, :action => 'profile' %>
    (<%= link_to "remove", friendship, :method => :delete %>)


<% end %> 
<% end %> 
<% if friendship.user_name == current_user.username && friendship.status == true %>

<%= h link_to friendship.friend_name, user, :action => 'profile' %>
    (<%= link_to "remove", friendship, :method => :delete %>)


<% end %> 





    
       

  </li>
   
 

<% end %> 
<% end %> 
  
</ul>
