

<ul>


<% @users.each do |user| %>


<% for friendship in user.friendships %>



  <li>


  	
<% if  friendship.friend_name == current_user.username && friendship.status == true %>
  	
<% if user.bfriends.include?(current_user) %>
<%= h friendship.user_name %> (<%= link_to "remove", friendship, :method => :delete %>)
<% else %>
  	
    <%= link_to friendship.user_name, user_path(friendship.user_id) %>
    (<%= link_to "remove", friendship, :method => :delete %>)


<% end %> 
<% end %> 



<% if friendship.user_name == current_user.username && friendship.status == true %>

<% if user.bfriends.include?(current_user) %>
<%= h friendship.friend_name %> (<%= link_to "remove", friendship, :method => :delete %>)
<% else %>

<%= link_to friendship.friend_name, user_path(friendship.friend_id) %>
    (<%= link_to "remove", friendship, :method => :delete %>)



<% end %> 
<% end %> 



   

  </li>
   
 

<% end %> 
<% end %> 
  
</ul>
