
  <div class="headerlist">
<ul id="menu">
<li> Logo</li>

 <li><img src="http://www.capgemini.com/sites/default/files/styles/cap_image_165x112/public/ideas_icon_blue_4.png?itok=ymV_q58q" width="41" height="40" style=" left: 105px; width: 35px; height: 32px;"/></li>
 <li> <%= link_to "My Profile" , user_path(current_user.id) %> </li>
 <li><%= link_to "Log out", logout_path, method: :delete %></li>
<li><%= link_to "friend requests" , friendships_path %></li>

</ul>  
</div>

<div style="position:absolute;top:100px;">



<% @users.each do |user| %>



<% if user == current_user %>

<% else %>
<p> <%=  link_to user.username, user, :action => 'profile' %>
<% unless  current_user.bfriends.include?(user) %>
  <%= link_to "Block User",user_block_user_path(:user_id => user.id) ,:method => :post %>
<% end %>
<% unless  current_user.rfriends.include?(user) %>
 <%= link_to "Report User",user_report_user_path(:user_id => user.id) ,:method => :post %>
<% end %>
<% unless user ==current_user ||current_user.friends.include?(user)  || user.friends.include?(current_user)  %>
<% unless  user.bfriends.include?(current_user) %>

 <%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post %> 


<% end %>
<% end %>
<% end %>
</p>



    

<% end %>




</div>




