<%= form_for :forum, url: sysadmins_merge_path do |f| %>
  <table>
      <tr>
        <td>Select the forums to merge: </td>
        <td><%= f.collection_select(:forum1_id, Forum.all, :id, :title) %></td>
        <td><%= f.collection_select(:forum2_id, Forum.all, :id, :title) %></td>
      </tr>
      <tr>
        <td>New name: </td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td>New description: </td>
        <td><%= f.text_field :description %></td>
      </tr>
      <tr>
        <td><%= f.submit "Merge" %></td>
      </tr>
  </table>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<% end %>