<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<%= stylesheet_link_tag 'style' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/bootstrap-select.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body style="background: #eee;">
		
		<%= render "/shared/navbar_sys_admin"%>

			<div class="modal-content" style="margin: 170px auto; width: 400px; height:300px;">
				<div class="modal-header" style="height:300px;">
	  				<button type="button" class="close" data-dismiss="modal">&times;</button>
	  				<!-- <h4 class="modal-title">Modal Header</h4> -->
	  				<h2 style="text-align: center; margin-bottom: 60px;">Log in</h2>
	  				<i style="width:20px; height:20px; position:absolute; top:40px; left:250px;" class="fa fa-user-secret fa-2x" ></i> 

	  				<%= form_for(:sysadmin, :controller => :sysadmin ,url: 'show')  do |f| %>
	 					    <div class="left-inner-addon">
	 					    	<i class="glyphicon glyphicon-user"></i>
	 					    	<%= f.text_field :username, class: 'form-control', placeholder: "Identify self" %><br>
	 					    </div>

						<div class="left-inner-addon">
								<i class="glyphicon glyphicon-lock"></i>
								<%= f.password_field :password, class: 'form-control', placeholder: "Password" %><br>
							</div>

						<div style="position:absolute; left:155px">
							<%= f.submit "Login",class: 'btn btn-primary' %>
						</div>
						<% end %>
				</div>
        	</div>
	</body>
</html>