


<html lang="en">
	<head>
	<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<%= stylesheet_link_tag 'style' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/bootstrap-select.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
			<%= render "/shared/navbar_sys_admin"%>
<div >
<div  class="modal-content" style="margin: 100px 0 0 -200px; top:50%; left: 50%; height:200px; padding:10px; width:400px;">

<div style="margin:10px;">
	<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>
<% @user_all = User.all %>
<%= form_tag(edit_path, method: "get") do %>

	<%= select_tag "user_all", options_from_collection_for_select(@user_all, "email", "email"), :class => 'selectpicker' %>
	<%= submit_tag(:delete,:class => 'btn btn-primary') %>
<% end %>

</div>
<div>
	<% @arr_unblocked = [] %>
<% @user_all.each do |u| %>
	<% if !Block.find_by(email: u.email) %>
		<% @arr_unblocked.push(u) %>
	<% end %>
<% end %>

<% if flash[:danger] %>
	<%= flash[:danger] %>
<% end %>

<div style="margin:10px;">
	<%= form_tag(blocked_path, method: "get") do %>
	<%= select_tag "block_user", options_from_collection_for_select(@arr_unblocked, "email", "email"), :class => 'selectpicker'%>
	<%= submit_tag(:block, :class => "btn btn-primary") %>
<% end %>

</div>
<div style="margin:10px;">
	
<% @unblock_user = Block.all %>
<%= form_tag(unblocked_path, method: "get") do %>
	<%= select_tag "unblock_user", options_from_collection_for_select(@unblock_user, "email", "email"),:class => 'selectpicker' %>
	<%= submit_tag(:unblock,:class => 'btn btn-primary') %>

</div>
<% end %>
</div>
</div>
</div>

