<!DOCTYPE html>
<html>
<head>

  <title>SEproject</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<<<<<<< HEAD
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
=======
>>>>>>> 348f84920aed7a9411270b36a7dba99a0bf5507b
=======
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
>>>>>>> d0e1ccd0955f98a8acb6421535faa9b765e3db11
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
>>>>>>> d0e1ccd0955f98a8acb6421535faa9b765e3db11
  <%= csrf_meta_tags %>

</head>
<font face= "DIN condensed">
<body>

<%= yield %>

</body>
</font>
</html>
